*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.zip
*.png
code.html
DESIGN*.md
.DS_Store
stitch_*/
*.zip
*.png
code.html
DESIGN*.md
.DS_Store
stitch_*/
google-services.json
*.pdf
